@model BookingSystem.Web.Models.AirportViewModel

@{ 
    ViewBag.Title = "Description";
}

<h2>@Model.Name</h2>
<table>
    <tr>
        <td>Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>@Model.Country</td>
    </tr>
</table>
